.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/**
.fleet/**
examples/.idea/**
examples/.fleet/**

### Mac OS ###
.DS_Store

local.properties
